@import "tailwindcss";

@plugin "daisyui";

/* Make only the light theme available (optional) */
@plugin "daisyui/theme" {
  name: "dark";
}
body{
  background-color: #f3f4f6; /* Tailwind's gray-100 */
  color:black
}